<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <context:annotation-config />

    <aop:config>

        <!-- ссылка на класс -->
        <aop:aspect ref="mindMagician">
            <aop:pointcut id="thinking"
                          expression="execution(* com.example.demo.springidol.Thinker.thingOfSomething(String))
                            and args(thougths)"/>
            <aop:before pointcut-ref="thinking" method="interceptThougths" arg-names="thougths"/>
        </aop:aspect>
        <aop:aspect ref="audience">
            <!-- определение среза множества точек сопряжения -->
            <aop:pointcut id="performance"
                          expression="execution(* com.example.demo.springidol.Performer.perform(..))"/>
            <aop:around pointcut-ref="performance" method="watchPerformance"/>

        </aop:aspect>
    </aop:config>
    <bean id="audience" class="com.example.demo.domain.Audience" />
    <bean id="duke" class="com.example.demo.domain.Juggler">
        <constructor-arg value="13" /><!-- передача в конструктор класса аргумента -->
    </bean>
    <bean id="sonet29" class="com.example.demo.domain.Sonet29" />
    <bean id="poeticDuke" class="com.example.demo.domain.PoeticJuggler" autowire="constructor"/>
    <bean id="mindMagician" class="com.example.demo.domain.MindMagician"/>
    <bean id="volunteer" class="com.example.demo.domain.Volunteer"/>
</beans>