<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <context:annotation-config />

    <aop:config>

<!--        <aop:advisor advice-ref="org.springframework.aop.aspectj.AspectJPointcutAdvisor" />-->
        <!-- ссылка на класс -->
        <aop:aspect ref="audience">
            <!-- определение среза множества точек сопряжения -->
            <aop:pointcut id="performance"
                          expression="execution(* com.example.demo.springidol.Performer.perform(..))"/>
            <aop:before pointcut-ref="performance" method="takeSeats"/><!-- используется ссылка на именованный срез -->
            <aop:before pointcut-ref="performance" method="turnOffCellPhones"/>
            <aop:after-returning pointcut-ref="performance"  method="applaud"/>
            <aop:after-throwing pointcut-ref="performance"  method="demandRefund"/>
<!--            <aop:around method="watchPerformance()"/>-->
        </aop:aspect>
    </aop:config>

    <bean id="audience" class="com.example.demo.domain.Audience" />
    <bean id="duke" class="com.example.demo.domain.Juggler">
        <constructor-arg value="13" /><!-- передача в конструктор класса аргумента -->
    </bean>
    <bean id="sonet29" class="com.example.demo.domain.Sonet29" />
    <bean id="poeticDuke" class="com.example.demo.domain.PoeticJuggler" autowire="constructor">

        <!--        <constructor-arg value="15" />-->
        <!--        <constructor-arg ref="sonet29" />&lt;!&ndash; внедрение в конструктор класса ссылки на класс sonet29 &ndash;&gt;-->
    </bean>
    <bean id="garry" class="com.example.demo.domain.Magician">
        <property name="magicWords" value="Bippity Boppity Boom"/>
        <!--        <property name="magicBox" ref="magicBox" />-->
    </bean>
    <bean id="magicBox" class="com.example.demo.springidol.MagicBoxImpl">
        <replaced-method name="getContents" replacer="tigerReplacer" /><!--замена метода-->
    </bean>
    <bean id="tigerReplacer" class="com.example.demo.domain.TigerReplacer" />

</beans>